body {  
    background-image: url("../IMG/backgrounds/bg1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    bottom: 0;
    left: 0;
    width: 30vw;
    min-height: 30vh;
    color: white;
    text-align: center;
    font-size: 1.1em;
}

.link {
    min-width: 30vw;
    min-height: 5vh;
    background: rgb(61,61,61);
    background: linear-gradient(116deg, rgba(61,61,61,0.8) 0%, rgba(179,179,179,0.27798214012167366) 100%);
    border: 1px solid white;
    box-shadow: 0 0 0 2px rgb(61,61,61), 0 0 0 1px white;
}
